.DS_Store
*~

.vim
.env
target

Cargo.lock

/data
tokenizers/data
bindings/python/tests/data
docs/build/
docs/make.bat

__pycache__
pip-wheel-metadata
*.egg-info
*.so
/bindings/python/build
/bindings/python/dist

.vscode
*.code-workspace
