[package]
authors = ["Anthony MOI <m.anthony.moi@gmail.com>"]
edition = "2018"
name = "tokenizers-lib"
version = "0.0.10"

[lib]
name = "tokenizers"
path = "src/lib.rs"

[[bin]]
name = "cli"
path = "src/cli.rs"

[dependencies]
lazy_static = "1.3.0"
regex = "1.3.1"
regex-syntax = "0.6.12"
rayon = "1.2.0"
serde_json = "1.0"
clap = "2.33.0"
unicode-normalization = "0.1.11"
unicode_categories = "0.1.1"

[dev-dependencies]
tempfile = "3.1"
