[package]
name = "tokenizers-python"
version = "0.11.0"
authors = ["Anthony MOI <m.anthony.moi@gmail.com>"]
edition = "2018"

[lib]
name = "tokenizers"
crate-type = ["cdylib"]

[dependencies]
rayon = "1.3"
serde = { version = "1.0", features = [ "rc", "derive" ]}
serde_json = "1.0"
libc = "0.2"
env_logger = "0.7.1"
pyo3 = "0.12"
numpy = "0.12"
ndarray = "0.13"
onig = { version = "6.0", default-features = false }
itertools = "0.9"

[dependencies.tokenizers]
version = "*"
path = "../../tokenizers"

[dev-dependencies]
tempfile = "3.1"

[features]
default = ["pyo3/extension-module"]

[target.x86_64-apple-darwin]
rustflags = [
  "-C", "link-arg=-undefined",
  "-C", "link-arg=dynamic_lookup",
]
