[package]
name = "tokenizers-python"
version = "0.13.4-dev.0"
authors = ["Anthony MOI <m.anthony.moi@gmail.com>"]
edition = "2021"

[lib]
name = "tokenizers"
crate-type = ["cdylib"]

[dependencies]
rayon = "1.3"
serde = { version = "1.0", features = [ "rc", "derive" ]}
serde_json = "1.0"
libc = "0.2"
env_logger = "0.7.1"
pyo3 = "0.19"
numpy = "0.19.0"
ndarray = "0.13"
onig = { version = "6.0", default-features = false }
itertools = "0.9"

[dependencies.tokenizers]
version = "0.13.4-dev.0"
path = "./tokenizers-lib"

[dev-dependencies]
tempfile = "3.1"
pyo3 = { version = "0.19", features = ["auto-initialize"] }

[features]
default = ["pyo3/extension-module"]
