.tokenized-text {
  width:100%;
  padding:2rem;
  max-height: 400px;
  overflow-y: auto;
  box-sizing:border-box;
  line-height:4rem;
  font-family: "Roboto Light","Ubuntu Light","Ubuntu";
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.01);
  letter-spacing:2px;

}
.non-token{
  white-space: pre;
  /*background-color: rgba(110,110,10,0.3);*/
  letter-spacing:4px;
  border-top:1px solid #A0A0A0;
  border-bottom:1px solid #A0A0A0;
  line-height: 1rem;
  height: calc(100% - 2px);
}
.tok-text {


}

.token {
  white-space: pre;
  position:relative;
  color:black;
  letter-spacing:2px;
}
/* .token::after {
  content:"";
  position:absolute;
  width:100%;
  height:1rem;
  top:0.15rem;
  border-top:1px dotted #888888		;

  border-right:0.1px dotted #888888	;
} */
.annotation{
  white-space:nowrap; // Yoyoyoyo - ensures that annotations appear
  border-radius:4px;
  position:relative;

   width:fit-content;
}
.annotation:before {
  /*The before holds the text and the after holds the background*/
  z-index:1000;
  content:attr(data-label);
  color:white;
  position:absolute;
  font-size:1rem;
  text-align:center;
  font-weight:bold;
  text-overflow:ellipsis;
  top:1.75rem;
  line-height:0rem;
  text-overflow: ellipsis;

  left:0;
  width:100%;

  padding:0.5rem 0rem;
}

.annotation:after {
  content:attr(data-label);
  position:absolute;
  font-size:0.75rem;
  text-align:center;
  font-weight:bold;
  text-overflow:ellipsis;
  top:1.75rem;
  line-height:0;

  left:0;
  width:100%;

  padding:0.5rem 0rem;
  background-color: currentColor;
}
.annotation:hover::after{
  min-width: fit-content;
}
.annotation:hover{
  border-color: currentColor;
  border: 2px solid;
}
.special-token:not(:empty){
  position:relative;
}
.special-token:empty::before{
  content:attr(data-stok);
  background:#202020;
  font-size:0.75rem;
  color:white;
  margin: 0 0.25rem;
  padding: 0.25rem;
  border-radius:4px
  /* Special tokens that don't have text*/
}

.special-token:not(:empty):before {
  /* Special tokens that have text*/
  content:attr(data-stok);
  position:absolute;
  bottom:1.75rem;
  min-width:100%;
  width:100%;
  height:1rem;
  line-height:1rem;
  font-size:1rem;
  text-align:center;
  color:white;
  font-weight:bold;
  background:#202020;
  border-radius:10%;
}
.even-token{
  background:#DCDCDC	;
  border: 1px solid #DCDCDC;
}
.odd-token{
  background:#A0A0A0;
  border: 1px solid #A0A0A0;

}
