name: Build documentation

on:
  push:
    branches:
      - main
      - doc-builder*
      - v*-release
      - use_templates

jobs:
  build:
    uses: huggingface/doc-builder/.github/workflows/build_pr_documentation.yml@gh_w_tokenizers
    with:
      commit_sha: ${{ github.sha }}
      package: tokenizers
      path_to_docs: tokenizers/docs/source-doc-builder/
      package_path: tokenizers/bindings/python/
      install_rust: true
    secrets:
      token: ${{ secrets.HUGGINGFACE_PUSH }}
