name: Rust

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v1

      - name: Install Rust Stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
          override: true

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-targets --verbose --manifest-path ./tokenizers/Cargo.toml

      - name: Lint with RustFmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args:  --manifest-path ./tokenizers/Cargo.toml -- --check

      - name: Lint with Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args:  --manifest-path ./tokenizers/Cargo.toml --all-targets --all-features -- -D warnings

      - name: Run Tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose --manifest-path ./tokenizers/Cargo.toml
